@use "../base/base" as *;
@use "../base/mixins" as *;

// Responsive for Mobile Large and Medium.
@media screen and (max-width: 462px) {
  .container {
    max-width: 350px;
  }
  .primary-menu .search-icon {
    display: none;
  }

  .search-icon-sm {
    display: block !important;
    position: absolute;
    right: 63px;
    top: 14px;
    width: 26px;
    height: 4px;
  }

  #search-menu {
    height: 12%;
    .wrapper {
      margin: 2em auto 0 auto;
      input {
        font-size: 26px;
      }
    }
  } 
  // .primary-menu {
  //   display: none;
  // }
  // .hamburger {
  //   display: block;
  //   height: 32px;
  //   width: 32px;
  // }
  // .primary-navbar {
  //   justify-content: space-between;
  // }
  .logo {
    height: 32px;
    text-align: center;
  }
  .hero-banner {
    height: calc(78dvh - 64px);
  }
  .banner-text-box {
    height: 76%;
  }
  .banner-inner-text {
    width: 78%;
    
    p {
      padding-bottom: 10px;
    }
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
  }
  h2 {
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 10px;
  }
  p{
    font-size: 14px;
    line-height: 22px;
  }
  .get-started {
    width: 52%;
    padding: 4px 4px;
    font-size: 10px;
  }
  .services {
    padding: 15% 18px;
  }
  .services-item-box {
    flex-wrap: wrap;
    gap: 22px;
  }
  .services-inner-item-box h4 {
    padding-bottom: 12px;
  }
  .services-inner-item-box p {
    padding-bottom: 14px;
  }
  .services-inner-item-box a {
    font-size: 14px;
  }
  .estimate {
    flex-direction: column-reverse;
    gap: 0;
  }
  .product {
    width: 100%;
    flex-basis: 0;
    height: 270px;
  }
  .estimate-text-box {
    width: 100%;
    flex: 100%;
  }
  .estimate-inner-text-box {
    margin-top: 32px;
    h2 {
      padding-bottom: 18px;
    }
  }
  .contact-details {
    padding: 12px 0;
    gap: 8px;

    svg {
      width: 62px;
    }
  }

  .contact {
    gap: 4px;
  }
  .contact  .get-started {
    width: 68%;
    padding: 12px 10px;
    gap: 8px;
  }
  .contact-info h4 {
    line-height: 28px;
  }

  .product {
    height: 540px;
  }

  .testimonials-wrap {
    margin: 80px 0;
  }
  .testimonials-inner {
    padding: 26px 12px;
    gap: 20px;

    h2 {
      width: 94%;
      padding: 12px 0;
    }
  }
  .card-inner {
    padding: 6px 0;
    gap: 8px;
    margin: 16px;
  }
  .person {
    gap: 10px;

    img {
      height: 46px;
    width: 46px;
    }
  }
  .profile {
      height: 56px;
      width: 56px;
  }

  .clients a {
    width: 50%;

    &:last-child:nth-child(odd) {
      width: 100%;
    }
  }
  

  .clients img {
    height: 72px;
    width: 72px;
  }
  .section1, .section2 {
    justify-content: center;
  }
  .project-header {
    padding: 10px 24px;
    margin: 40px 0;
  }
  .projects-inner-box {
    img {
      height: 300px;
      width: 300px;
    }
  }
  .project-details {
    align-items: center;
    margin: 0 10px;
    svg {
      width: 72px;
      height: 54px;
    }
  }
  .section1, .section2 {
    gap: 50px;
  }

  .facts-wrap {
    margin: 40px 0;
    margin-top: 96px;
  }
  .facts-box {
    padding: 34px 20px;
    flex-wrap: wrap;
  }

  .facts-inner-box {
    margin: 0 2px;
    padding-left: 8px;
    padding-right: 14px;
    border: none;

    &:nth-child(odd) {
      border-right: 1px solid #cda274;
    }
    
    &:nth-child(-n+2) {
      margin-bottom: 10px;
    }
  }

  .articles-header {
    margin: 12px 0;
    margin-top: 10px;
    padding: 20px 14px;
    p{
      padding: 10px 0;
      padding-top: 18px;
    }
  }
  .articles-inner-box {
    width: 100%;
  }
  .articles-box {
    gap: 18px;
    margin-bottom: 28px;
    justify-content: center;
    width: 100%;
  }
  .article-title {
    line-height: 22px;
  }
  .articles-image {
    width: 100%;
    margin-bottom: 16px;
  }
  .other-details {
    padding-top: 8px;
    padding-bottom: 12px;
    justify-content: flex-start;
    gap: 56px;
  }

  .contactus {
    gap: 20px;
    padding: 80px 10px;
    margin: 16px 0;
    border-radius: 32px;
  }
  .contact-btn {
    padding: 12px 14px;
    font-size: 12px;
    gap: 6px;
    svg {
      height: 14px;
      width: 14px;
    }
  }

  .social-icons {
    padding-top: 10px;
    width: 70%;
  }
  .copyright {
    margin-top: 40px;

    p {
      padding: 22px 0
    }
  }
  .brand {
    img {
      height: 25px;
      width: 100px;
    }
  }
  .brand-info {
    width: 100%;
    padding-bottom: 20px;
    margin-right: 10px;
    padding: 0 56px;
  }
  .pages {
    width: 47%;
    padding-bottom: 20px;
  }
  .footer-services {
    width: 47%;
    margin-right: 10px;
  }
  .footer-contact {
    width: 47%;
  }
  .slogan {
    padding-top: 8px;
  }
  .footer-region {
    padding: 0;
    margin-top: 80px;
    address {
      font-size: 12px;
    }
    a {
      line-height: 22px;
      font-size: 12px;
    }
  }
  @include nav-slider;

  .footer-nav{
    display: none;
  }
  .accordion-block {
    display: block;
  }
  // @include accordion;

  .footer-region {
    justify-content: center;
  }
  .submenu {
    width: 100dvw;
  }
}