@use "../base/base" as *;
@use "../base/mixins" as *;

// Responsive for Tablet.
@media screen and (max-width: 992px) {
  .container {
    max-width: 650px;
  }
  .primary-menu .search-icon {
    display: none;
  }

  .search-icon-sm {
    display: block !important;
    position: absolute;
    right: 63px;
    top: 14px;
    width: 26px;
    height: 4px;
  }

  #search-menu {
    height: 12%;
    .wrapper {
      margin: 2em auto 0 auto;
      input {
        font-size: 26px;
      }
    }
  } 
  // .primary-menu {
  //   display: none;
  // }
  // .hamburger {
  //   display: block;
  //   height: 38px;
  //   width: 38px;
  // }
  .primary-navbar {
    padding: 10px 0;
    justify-content: space-between;
  }
  .logo {
    height: 38px;
    text-align: center;
  }
  .hero-banner {
    border-radius: 0 0 0 186px;
  }
  .banner-text-box {
    height: 84%;
  }
  .banner-inner-text {
    width: 54%;
    
    p {
      padding-bottom: 12px;
    }
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
  h4 {
    font-size: 18px;
    line-height: 22px;
  }
  h2 {
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 10px;
  }
  p{
    font-size: 16px;
    line-height: 24px;
  }
  .get-started {
    width: 44%;
    padding: 5px 4px;
    font-size: 12px;
  }
  .services {
    padding: 52px 72px
  }
  .services-item-box {
    flex-wrap: wrap;
    gap: 28px;
  }
  .services-inner-item-box h4 {
    padding-bottom: 12px;
  }
  .services-inner-item-box p {
    padding-bottom: 14px;
  }
  .services-inner-item-box a {
    font-size: 14px;
  }
  .estimate {
    flex-direction: column-reverse;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .product {
    width: 100%;
    flex-basis: 0;
    height: 270px;
  }
  .estimate-text-box {
    width: 62%;
    flex: 62%;
    padding: 20px;
  }
  .estimate-inner-text-box {
    margin-top: 32px;
    h2 {
      padding-bottom: 18px;
    }
  }
  .contact-details {
    padding: 12px 0;
    gap: 8px;

    svg {
      width: 64px;
    }
  }

  .contact  .get-started {
    width: 70%;
    padding: 14px 8px;
  }
  .contact-info h4 {
    line-height: 22px;
  }

  .product {
    height: 270px;
  }

  .testimonials-wrap {
    margin: 72px 0;
  }
  .testimonials-inner {
    padding: 26px 24px;
    gap: 20px;

    h2 {
      width: 90%;
      padding: 12px 17px;
    }
  }
  .card-deck {
    justify-content: center;
  }
  .card {
    width: 96%;
  }

  .card-inner {
    padding: 6px 20px;
    gap: 8px;
    margin: 16px;
  }
  .person {
    gap: 5px;

    img {
      height: 56px;
      width: 56px;
    }
  }
  .profile {
      height: 56px;
      width: 56px;
  }

  .clients a {
    width: 50%;

    &:last-child:nth-child(odd) {
      width: 100%;
    }
  }
  

  .clients img {
    height: 80px;
    width: 80px;
  }
  .section1, .section2 {
    justify-content: center;
  }
  .project-header {
    padding: 18px 10%;
    margin: 40px 0;
  }
  .projects-inner-box {
    img {
      height: 500px;
      width: 500px;
    }
  }
  .project-details {
    align-items: center;
    margin: 0 10px;
    svg {
      width: 72px;
      height: 54px;
    }
  }
  .section1, .section2 {
    gap: 90px;
  }

  .facts-box {
    padding: 58px 10px;
  }
  .facts-inner-box {
    padding: 9px;
    margin: 0 4px;

    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .articles-header {
    margin: 12px 0;
    margin-top: 10px;
    padding: 20px 14px;
    p{
      padding: 10px 0;
      padding-top: 18px;
    }
  }
  .articles-inner-box {
    width: 100%;
  }
  .articles-box {
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 28px;
    justify-content: flex-start;
    width: 64%;
  }
  .articles-image {
    width: 100%;
    margin-bottom: 16px;
  }
  .other-details {
    padding-top: 16px;
    padding-bottom: 12px;
    justify-content: flex-start;
    gap: 100px;
  }
  .publication-date {
    font-size: 18px;
  }

  .contactus {
    gap: 14px;
    padding: 80px 20px;
    margin: 16px 0;
  }
  .contact-btn {
    padding: 18px 20px;
    font-size: 14px;
  }

  .social-icons {
    padding-top: 10px;
    width: 70%;
  }
  .copyright {
    margin-top: 40px;

    p {
      padding: 22px 0
    }
  }
  .brand {
    img {
      height: 25px;
      width: 100px;
    }
  }
  .brand-info {
    width: 47%;
    padding-bottom: 20px;
    margin-right: 36px;
  }
  .pages {
    width: 47%;
    padding-bottom: 20px;
  }
  .footer-services {
    width: 47%;
    margin-right: 36px;
  }
  .footer-contact {
    width: 47%;
  }
  .slogan {
    padding-top: 8px;
  }
  .footer-region {
    justify-content: center;
    margin-top: 80px;
    address {
      font-size: 12px;
    }
    a {
      line-height: 22px;
      font-size: 12px;
    }
  }
}


@media screen and (max-width: 768px) {
  @include nav-slider;

  .hero-banner {
    height: calc(100dvh - 68px);
  }
  .footer-region {
    flex-wrap: nowrap;
    gap: 10px;
  }
}