.svg-01 {
    background: url("svg/sprite.css-aba3bcc0.svg") 0 46.354166666666664% no-repeat;
}

.svg-01-dims {
    width: 132px;
    height: 44px;
}

.svg-02 {
    background: url("svg/sprite.css-aba3bcc0.svg") 0 100% no-repeat;
}

.svg-02-dims {
    width: 103px;
    height: 103px;
}

.svg-03 {
    background: url("svg/sprite.css-aba3bcc0.svg") 0 0 no-repeat;
}

.svg-03-dims {
    width: 164px;
    height: 44px;
}

.svg-04 {
    background: url("svg/sprite.css-aba3bcc0.svg") 0 23.036649214659686% no-repeat;
}

.svg-04-dims {
    width: 146px;
    height: 45px;
}

.svg-05 {
    background: url("svg/sprite.css-aba3bcc0.svg") 100% 0 no-repeat;
}

.svg-05-dims {
    width: 118px;
    height: 48px;
}

