
@use "./variables.scss" as *;
@use "../modules/typography" as *;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
// body{
//   background: linear-gradient(to right, #E6E6E6 1px, transparent 1px);
//   background-size: 366px;
// }
header {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 0 60px 0 rgba(0,0,0,0.1);
  z-index: 999;
}
img {
  object-fit: cover;
}
.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1200px;
}

h1, h2, h3, h4 {
  color: $primary-text-color;
  font-family: $primary-font-family;
  font-style: $primary-text-style;
  font-weight: $basic-font-weight;
}
h1 {
  font-size: 86px;
  line-height: 105px;
}
h2 {
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 1px;
}
h3 {
  font-size: 40px;
  line-height: 48px;
}
h4 {
  // text-align: center;
  font-size: 24px;
  line-height: 32px;
}
p {
  color: #4d5053;
  font-family: Jost;
  font-size: 20px;
  font-style: $primary-text-style;
  font-weight: $basic-font-weight;
  line-height: 32px;
  letter-spacing: 0.22px;
}
a {
  text-decoration: $anchor-text-decoration;
  color: #4D5053;
  text-align: $anchor-text-align;
  font-family: $anchor-font-family;
  font-size: $anchor-font-size;
  font-style: $primary-text-style;
  font-weight: $anchor-font-weight;
}

// @mixin media-md {
//   @media screen and (max-width: 768px) {
//     @content;
//   }
// }
