.flex-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}