@media screen and (max-width: 1600px) {
  .container {
    max-width: 1000px;
  }
  .menu-item-list a {
    padding: 12px;
  }
  .flex-wrap {
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 74px;
    line-height: 90px;
  }
  h4 {
    font-size: 20px;
    line-height: 24px;
  }
  h2 {
    font-size: 40px;
    line-height: 56px;
  }
  p{
    font-size: 18px;
    line-height: 28px;
  }
  .get-started {
    width: 33%;
    padding: 20px 24px;
    font-size: 16px;
  }
  .services-inner-item-box p {
    padding-bottom: 36px;
  }
  .estimate-inner-text-box h2 {
    padding-bottom: 24px;
  }
  .contact-details {
    padding: 36px 0;
    gap: 8px;

    svg {
      width: 75px;
    }
  }

  .contact  .get-started {
    width: 80%;
    padding: 24px 16px;
  }

  .product {
    height: 636px;
  }
  .card-inner {
    padding: 12px 0;
    gap: 18px;
    margin: 20px;
  }
  .person {
    gap: 5px;
  }
  .profile {
    height: 80px;
    width: 80px;
  }
  .project-header {
    padding: 20px 20%;
    margin: 64px 0;
  }
  .section1, .section2 {
    gap: 90px;
  }

  .facts-wrap {
    margin: 60px 0;
    margin-top: 96px;
  }

  .facts-inner-box {
    margin: 0 10px;
    padding-left: 18px;
  }

  .articles-header {
    margin: 30px 0;
    margin-top: 10px;
  }
  .articles-title {
    line-height: 26px;
  }
  .articles-image {
    margin-bottom: 18px;
  }
  .other-details {
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 50px;
  }

  .contactus {
    gap: 28px;
    padding: 80px 265px;
    margin: 36px 0;
  }
  .contact-btn {
    padding: 24px 32px;
  }

  .social-icons {
    padding-top: 24px;
  }
  .copyright {
    margin-top: 80px;
  }
  .footer-region {
    address {
      font-size: 18px;
    }
    a {
      line-height: 50px;
      font-size: 18px;
    }
  }
}


@media screen and (max-width: 1200px) {
  .container {
    max-width: 750px;
  }
  .menu-item-list a {
    padding: 8px;
  }
  .flex-wrap {
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 56px;
    line-height: 64px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 10px;
  }
  p{
    font-size: 14px;
    line-height: 24px;
  }
  .get-started {
    width: 33%;
    padding: 8px 10px;
    font-size: 12px;
  }
  .services-inner-item-box p {
    padding-bottom: 24px;
  }
  .services-inner-item-box a {
    font-size: 14px;
  }
  .estimate-inner-text-box h2 {
    padding-bottom: 20px;
  }
  .contact-details {
    padding: 24px 0;
    gap: 8px;

    svg {
      width: 72px;
    }
  }

  .contact  .get-started {
    width: 80%;
    padding: 18px 16px;
  }

  .product {
    height: 540px;
  }

  .testimonials-wrap {
    margin: 120px 0;
  }
  .testimonials-inner h2 {
    padding: 12px 48px;
  }
  .card-inner {
    padding: 6px 0;
    gap: 8px;
    margin: 16px;
  }
  .person {
    gap: 5px;

    img {
      height: 56px;
      width: 56px;
    }
  }
  .profile {
      height: 56px;
      width: 56px;
  }

  .clients img {
    height: 72px;
    width: 72px;
  }
  .project-header {
    padding: 20px 20%;
    margin: 56px 0
  }
  .projects-inner-box {
    img {
      height: 300px;
      width: 300px;
    }
  }
  .project-details {
    align-items: center;
    margin: 0 10px;
    svg {
      width: 72px;
      height: 54px;
    }
  }
  .section1, .section2 {
    gap: 90px;
  }

  .facts-wrap {
    margin: 60px 0;
    margin-top: 96px;
  }

  .facts-inner-box {
    margin: 0 10px;
    padding-left: 10px;
  }

  .articles-header {
    margin: 30px 0;
    margin-top: 10px;
  }
  .articles-inner-box {
    width: 33.33%;
  }
  .articles-box {
    gap: 18px;
    margin-bottom: 28px;
  }
  .article-title {
    line-height: 28px;
  }
  .articles-image {
    margin-bottom: 18px;
  }
  .other-details {
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .contactus {
    gap: 22px;
    padding: 80px 180px;
    margin: 28px 0;
  }
  .contact-btn {
    padding: 18px 20px;
    font-size: 14px;
  }

  .social-icons {
    padding-top: 18px;
  }
  .copyright {
    margin-top: 48px;
  }
  .brand {
    img {
      height: 25px;
      width: 100px;
    }
  }
  .slogan {
    padding-top: 8px;
  }
  .footer-contact {
    width: 20%;
  }
  .footer-region {
    address {
      font-size: 12px;
    }
    a {
      line-height: 32px;
      font-size: 12px;
    }
  }
}