@use "../base/base" as *;
@use "../base/mixins" as *;

// Responsive for Laptop/Desktop. 
@media screen and (max-width: 1600px) {
  .container {
    max-width: 1000px;
  }
  .menu-item-list a {
    padding: 18px;
  }
  .flex-wrap {
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 74px;
    line-height: 90px;
  }
  h4 {
    font-size: 20px;
    line-height: 24px;
  }
  h2 {
    font-size: 40px;
    line-height: 56px;
  }
  p{
    font-size: 18px;
    line-height: 28px;
  }
  .hero-banner {
    height: calc(100dvh - 124px);
  }
  .get-started {
    width: 33%;
    padding: 20px 24px;
    font-size: 16px;
  }
  .services-inner-item-box p {
    padding-bottom: 36px;
  }
  .estimate-inner-text-box h2 {
    padding-bottom: 24px;
  }
  .contact-details {
    padding: 36px 0;
    gap: 8px;

    svg {
      width: 75px;
    }
  }

  .contact  .get-started {
    width: 80%;
    padding: 24px 16px;
  }

  .product {
    max-height: 600px;

    img {
      border-radius: 0 230px 0 123px;
      height: 100%;
    }
  }
  .card-inner {
    padding: 12px 0;
    gap: 18px;
    margin: 20px;
  }
  .person {
    gap: 5px;

    img {
      height: 64px;
      width: 64px;
    }
  }
  .profile {
    height: 80px;
    width: 80px;
  }
  .project-header {
    padding: 20px 20%;
    margin: 64px 0;
  }
  .projects-inner-box img {
    height: 400px;
    width: 400px;
  }
  .section1, .section2 {
    gap: 168px;
  }

  .facts-wrap {
    margin: 60px 0;
    margin-top: 96px;
  }

  .facts-inner-box {
    margin: 0 10px;
    padding-left: 18px;
  }

  .articles-header {
    margin: 30px 0;
    margin-top: 10px;
  }
  .articles-title {
    line-height: 26px;
  }
  .articles-image {
    margin-bottom: 18px;
  }
  .other-details {
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 50px;
  }

  .contactus {
    gap: 28px;
    padding: 80px 265px;
    margin: 36px 0;
  }
  .contact-btn {
    padding: 24px 32px;
  }

  .social-icons {
    padding-top: 24px;
  }
  .copyright {
    margin-top: 80px;
  }
  .footer-region {
    address {
      font-size: 18px;
    }
    a {
      line-height: 50px;
      font-size: 18px;
    }
  }
}

// Responsive for Laptop/Desktop.
@media screen and (max-width: 1200px) {
  .container {
    max-width: 750px;
  }
  .menu-item-list a {
    padding: 8px;
  }
  .flex-wrap {
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 56px;
    line-height: 64px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 10px;
  }
  p{
    font-size: 14px;
    line-height: 24px;
  }
  .get-started {
    width: 33%;
    padding: 8px 10px;
    font-size: 12px;
  }
  .services-inner-item-box p {
    padding-bottom: 24px;
  }
  .services-inner-item-box a {
    font-size: 14px;
  }
  .estimate-inner-text-box h2 {
    padding-bottom: 20px;
  }
  .contact-details {
    padding: 24px 0;
    gap: 8px;

    svg {
      width: 72px;
    }
  }

  .contact  .get-started {
    width: 80%;
    padding: 18px 16px;
  }

  .product {
    height: 540px;
  }

  .testimonials-wrap {
    margin: 120px 0;
  }
  .testimonials-inner h2 {
    padding: 12px 48px;
  }
  .card-inner {
    padding: 6px 0;
    gap: 8px;
    margin: 16px;
  }
  .person {
    gap: 5px;

    img {
      height: 56px;
      width: 56px;
    }
  }
  .profile {
      height: 56px;
      width: 56px;
  }

  .clients img {
    height: 72px;
    width: 72px;
  }
  .project-header {
    padding: 20px 20%;
    margin: 56px 0
  }
  .projects-inner-box {
    img {
      height: 300px;
      width: 300px;
    }
  }
  .project-details {
    align-items: center;
    margin: 0 10px;
    svg {
      width: 72px;
      height: 54px;
    }
  }
  .section1, .section2 {
    gap: 90px;
  }

  .facts-wrap {
    margin: 60px 0;
    margin-top: 96px;
  }

  .facts-inner-box {
    margin: 0 10px;
    padding-left: 10px;
  }

  .articles-header {
    margin: 30px 0;
    margin-top: 10px;
  }
  .articles-inner-box {
    width: 33.33%;
  }
  .articles-box {
    gap: 18px;
    margin-bottom: 28px;
  }
  .article-title {
    line-height: 28px;
  }
  .articles-image {
    margin-bottom: 18px;
  }
  .other-details {
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .contactus {
    gap: 22px;
    padding: 80px 180px;
    margin: 28px 0;
  }
  .contact-btn {
    padding: 18px 20px;
    font-size: 14px;
  }

  .social-icons {
    padding-top: 18px;
  }
  .copyright {
    margin-top: 48px;
  }
  .brand {
    img {
      height: 25px;
      width: 100px;
    }
  }
  .slogan {
    padding-top: 8px;
  }
  .footer-contact {
    width: 20%;
  }
  .footer-region {
    address {
      font-size: 12px;
    }
    a {
      line-height: 32px;
      font-size: 12px;
    }
  }
}

// Responsive for small laptop.
@media screen and (max-width: 1080px) {
  .articles-box {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .articles-inner-box {
    width: 47%;

    &:last-child:nth-child(odd) {
      margin: 0 auto;
    }
  }
  .facts-inner-box {
    margin: 0px 2px;
  }

  .product {
    max-height: 600px;
    img {
      height: 100%;
      border-radius: 0 142px 0 98px;
    }
  }
}

// Responsive for Tablet.
@media screen and (max-width: 992px) {
  .container {
    max-width: 650px;
  }
  // .primary-menu {
  //   display: none;
  // }
  // .hamburger {
  //   display: block;
  //   height: 38px;
  //   width: 38px;
  // }
  .primary-navbar {
    padding: 10px 0;
    justify-content: space-between;
  }
  .logo {
    height: 38px;
    text-align: center;
  }
  .hero-banner {
    border-radius: 0 0 0 186px;
  }
  .banner-text-box {
    height: 84%;
  }
  .banner-inner-text {
    width: 54%;
    
    p {
      padding-bottom: 12px;
    }
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
  h4 {
    font-size: 18px;
    line-height: 22px;
  }
  h2 {
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 10px;
  }
  p{
    font-size: 16px;
    line-height: 24px;
  }
  .get-started {
    width: 44%;
    padding: 5px 4px;
    font-size: 12px;
  }
  .services {
    padding: 52px 72px
  }
  .services-item-box {
    flex-wrap: wrap;
    gap: 28px;
  }
  .services-inner-item-box h4 {
    padding-bottom: 12px;
  }
  .services-inner-item-box p {
    padding-bottom: 14px;
  }
  .services-inner-item-box a {
    font-size: 14px;
  }
  .estimate {
    flex-direction: column-reverse;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .product {
    width: 100%;
    flex-basis: 0;
    height: 270px;
  }
  .estimate-text-box {
    width: 62%;
    flex: 62%;
    padding: 20px;
  }
  .estimate-inner-text-box {
    margin-top: 32px;
    h2 {
      padding-bottom: 18px;
    }
  }
  .contact-details {
    padding: 12px 0;
    gap: 8px;

    svg {
      width: 64px;
    }
  }

  .contact  .get-started {
    width: 70%;
    padding: 14px 8px;
  }
  .contact-info h4 {
    line-height: 22px;
  }

  .product {
    height: 270px;
  }

  .testimonials-wrap {
    margin: 72px 0;
  }
  .testimonials-inner {
    padding: 26px 24px;
    gap: 20px;

    h2 {
      width: 90%;
      padding: 12px 17px;
    }
  }
  .card-deck {
    justify-content: center;
  }
  .card {
    width: 96%;
  }

  .card-inner {
    padding: 6px 20px;
    gap: 8px;
    margin: 16px;
  }
  .person {
    gap: 5px;

    img {
      height: 56px;
      width: 56px;
    }
  }
  .profile {
      height: 56px;
      width: 56px;
  }

  .clients a {
    width: 50%;

    &:last-child:nth-child(odd) {
      width: 100%;
    }
  }
  

  .clients img {
    height: 80px;
    width: 80px;
  }
  .section1, .section2 {
    justify-content: center;
  }
  .project-header {
    padding: 18px 10%;
    margin: 40px 0;
  }
  .projects-inner-box {
    img {
      height: 500px;
      width: 500px;
    }
  }
  .project-details {
    align-items: center;
    margin: 0 10px;
    svg {
      width: 72px;
      height: 54px;
    }
  }
  .section1, .section2 {
    gap: 90px;
  }

  .facts-box {
    padding: 58px 10px;
  }
  .facts-inner-box {
    padding: 9px;
    margin: 0 4px;

    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .articles-header {
    margin: 12px 0;
    margin-top: 10px;
    padding: 20px 14px;
    p{
      padding: 10px 0;
      padding-top: 18px;
    }
  }
  .articles-inner-box {
    width: 100%;
  }
  .articles-box {
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 28px;
    justify-content: flex-start;
    width: 64%;
  }
  .articles-image {
    width: 100%;
    margin-bottom: 16px;
  }
  .other-details {
    padding-top: 16px;
    padding-bottom: 12px;
    justify-content: flex-start;
    gap: 100px;
  }
  .publication-date {
    font-size: 18px;
  }

  .contactus {
    gap: 14px;
    padding: 80px 20px;
    margin: 16px 0;
  }
  .contact-btn {
    padding: 18px 20px;
    font-size: 14px;
  }

  .social-icons {
    padding-top: 10px;
    width: 70%;
  }
  .copyright {
    margin-top: 40px;

    p {
      padding: 22px 0
    }
  }
  .brand {
    img {
      height: 25px;
      width: 100px;
    }
  }
  .brand-info {
    width: 47%;
    padding-bottom: 20px;
    margin-right: 36px;
  }
  .pages {
    width: 47%;
    padding-bottom: 20px;
  }
  .footer-services {
    width: 47%;
    margin-right: 36px;
  }
  .footer-contact {
    width: 47%;
  }
  .slogan {
    padding-top: 8px;
  }
  .footer-region {
    justify-content: center;
    margin-top: 80px;
    address {
      font-size: 12px;
    }
    a {
      line-height: 22px;
      font-size: 12px;
    }
  }
}


@media screen and (max-width: 768px) {
  @include nav-slider;

  nav .mode-switcher {
    display: none;
  }

  .sm-nav .mode-switcher {
    display: inline-block;
    position: absolute;
    right: 64px;
    bottom: 26px;
  }
  .hero-banner {
    height: calc(100dvh - 68px);
  }
  .footer-region {
    flex-wrap: nowrap;
    gap: 10px;
  }
}


// Responsive for Galaxy Fold Horizontal.
@media screen and (max-width: 720px) {
  .container {
    max-width: 600px;
  }
  // .primary-menu {
  //   display: none;
  // }
  // .hamburger {
  //   display: block;
  //   height: 36px;
  //   width: 36px;
  // }
  // .primary-navbar {
  //   justify-content: space-between;
  //   padding: 20px 0px;
  // }
  .logo {
    height: 36px;
    text-align: center;
  }
  .banner-text-box {
    height: 84%;
  }
  .banner-inner-text {
    width: 64%;
    line-height: 28px;
    
    p {
      padding-bottom: 6px;
    }
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 32px;
    line-height: 42px;
  }
  h4 {
    font-size: 16px;
    line-height: 20px;
  }
  h2 {
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 10px;
  }
  p{
    font-size: 14px;
    line-height: 22px;
  }
  .get-started {
    width: 38%;
    padding: 6px 0px;
    font-size: 12px;
  }
  .services {
    padding: 15% 72px;
  }
  .services-item-box {
    flex-wrap: wrap;
    gap: 24px;
  }
  .services-inner-item-box h4 {
    padding-bottom: 12px;
  }
  .services-inner-item-box p {
    padding-bottom: 12px;
  }
  .services-inner-item-box a {
    font-size: 12px;
  }
  .estimate {
    flex-direction: column-reverse;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .product {
    width: 100%;
    flex-basis: 0;
    height: 270px;
  }
  .estimate-text-box {
    width: 50%;
    flex: 50%;
    padding: 20px;
  }
  .estimate-inner-text-box {
    margin-top: 32px;
    h2 {
      padding-bottom: 14px;
    }
  }
  .contact-details {
    padding: 8px 0;
    gap: 8px;

    svg {
      width: 56px;
    }
  }

  .contact  .get-started {
    width: 80%;
    padding: 14px 8px;
  }
  .contact-info h4 {
    line-height: 18px;
  }

  .product {
    height: 540px;
  }

  .testimonials-wrap {
    margin: 80px 0;
  }
  .testimonials-inner {
    padding: 26px 20px;
    gap: 14px;

    h2 {
      width: 70%;
      padding: 12px 17px;
    }
  }
  .card-deck {
    justify-content: center;
  }
  .card {
    width: 96%;

    p{
      font-size: 16px;
    }
  }

  .card-inner {
    padding: 6px 20px;
    gap: 8px;
    margin: 16px;
  }
  .person {
    gap: 10px;

    img {
      height: 70px;
      width: 70px;
    }
  }

  .personal-details {
    h4 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .clients a {
    width: 50%;

    &:last-child:nth-child(odd) {
      width: 100%;
    }
  }
  

  .clients img {
    height: 80px;
    width: 80px;
  }
  .section1, .section2 {
    justify-content: center;
  }
  .project-header {
    padding: 18px 72px;
    margin: 32px 0;
  }
  .projects-inner-box {
    img {
      height: 400px;
      width: 400px;
    }
  }
  .project-details {
    align-items: center;
    margin: 0 10px;
    svg {
      width: 68px;
      height: 52px;
    }
  }
  .section1, .section2 {
    gap: 60px;
  }

  .facts-box {
    padding: 52px 0;
  }
  .facts-inner-box {
    padding: 0 8px;
    margin: 0;
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .articles-header {
    margin: 12px 0;
    margin-top: 0;
    padding: 16px 21px;
    h2 {
      padding-bottom: 0;
    }
    p{
      padding: 8px 0;
      padding-top: 12px;
    }
  }
  .articles-inner-box {
    width: 84%;
  }
  .articles-box {
    gap: 18px;
    margin-bottom: 28px;
    justify-content: center;
    width: 64%;
  }
  .articles-image {
    width: 100%;
    margin-bottom: 16px;
  }
  .article-title {
    line-height: 26px;
  }
  .other-details {
    padding-top: 14px;
    padding-bottom: 10px;
    justify-content: flex-start;
    gap: 48px;

    svg {
      height: 42px;
      width: 42px;
    }
  }
  .publication-date {
    font-size: 16px;
  }

  .contactus {
    border-radius: 58px;
    gap: 12px;
    padding: 70px 16px;
    margin: 16px 0;
  }
  .contact-btn {
    padding: 14px 18px;
    font-size: 12px;
  }

  .social-icons {
    padding-top: 10px;
    width: 54%;
  }
  .copyright {
    margin-top: 40px;

    p {
      padding: 22px 0
    }
  }
  .brand {
    img {
      height: 24px;
      width: 100%;
    }
  }
  .brand-info {
    width: 42%;
    padding-bottom: 20px;
  }
  .pages {
    width: 47%;
    padding-bottom: 20px;
  }
  .footer-services {
    width: 42%;
  }
  .footer-contact {
    width: 47%;
  }
  .slogan {
    padding-top: 8px;
  }
  .footer-region {
    padding: 0 73px;
    margin: 80px auto;
    address {
      font-size: 12px;
      padding-right: 40%;
    }
    a {
      line-height: 22px;
      font-size: 12px;
    }
  }
  .copyright {
    p {
      padding: 16px 0;
    }
  }
  @include nav-slider
}

// Responsive for Galaxy Fold Horizontal Flip Landscape Window.
@media screen and (max-width: 653px) {
  .hero-banner {
    border-radius: 0 0 0 108px;
  }
  @include nav-slider
}

// Responsive for Mobile Large and Medium.
@media screen and (max-width: 462px) {
  .container {
    max-width: 350px;
  }
  // .primary-menu {
  //   display: none;
  // }
  // .hamburger {
  //   display: block;
  //   height: 32px;
  //   width: 32px;
  // }
  // .primary-navbar {
  //   justify-content: space-between;
  // }
  .logo {
    height: 32px;
    text-align: center;
  }
  .sm-nav .mode-switcher {
    bottom: 22px;
  }
  .hero-banner {
    height: calc(100dvh - 64px);
  }
  .banner-text-box {
    height: 76%;
  }
  .banner-inner-text {
    width: 78%;
    
    p {
      padding-bottom: 10px;
    }
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
  }
  h2 {
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 10px;
  }
  p{
    font-size: 14px;
    line-height: 22px;
  }
  .get-started {
    width: 52%;
    padding: 4px 4px;
    font-size: 10px;
  }
  .services {
    padding: 15% 18px;
  }
  .services-item-box {
    flex-wrap: wrap;
    gap: 22px;
  }
  .services-inner-item-box h4 {
    padding-bottom: 12px;
  }
  .services-inner-item-box p {
    padding-bottom: 14px;
  }
  .services-inner-item-box a {
    font-size: 14px;
  }
  .estimate {
    flex-direction: column-reverse;
    gap: 0;
  }
  .product {
    width: 100%;
    flex-basis: 0;
    height: 270px;
  }
  .estimate-text-box {
    width: 100%;
    flex: 100%;
  }
  .estimate-inner-text-box {
    margin-top: 32px;
    h2 {
      padding-bottom: 18px;
    }
  }
  .contact-details {
    padding: 12px 0;
    gap: 8px;

    svg {
      width: 62px;
    }
  }

  .contact {
    gap: 4px;
  }
  .contact  .get-started {
    width: 68%;
    padding: 12px 10px;
    gap: 8px;
  }
  .contact-info h4 {
    line-height: 28px;
  }

  .product {
    height: 540px;
  }

  .testimonials-wrap {
    margin: 80px 0;
  }
  .testimonials-inner {
    padding: 26px 12px;
    gap: 20px;

    h2 {
      width: 94%;
      padding: 12px 0;
    }
  }
  .card-inner {
    padding: 6px 0;
    gap: 8px;
    margin: 16px;
  }
  .person {
    gap: 10px;

    img {
      height: 46px;
    width: 46px;
    }
  }
  .profile {
      height: 56px;
      width: 56px;
  }

  .clients a {
    width: 50%;

    &:last-child:nth-child(odd) {
      width: 100%;
    }
  }
  

  .clients img {
    height: 72px;
    width: 72px;
  }
  .section1, .section2 {
    justify-content: center;
  }
  .project-header {
    padding: 10px 24px;
    margin: 40px 0;
  }
  .projects-inner-box {
    img {
      height: 300px;
      width: 300px;
    }
  }
  .project-details {
    align-items: center;
    margin: 0 10px;
    svg {
      width: 72px;
      height: 54px;
    }
  }
  .section1, .section2 {
    gap: 50px;
  }

  .facts-wrap {
    margin: 40px 0;
    margin-top: 96px;
  }
  .facts-box {
    padding: 34px 20px;
    flex-wrap: wrap;
  }

  .facts-inner-box {
    margin: 0 2px;
    padding-left: 8px;
    padding-right: 14px;
    border: none;

    &:nth-child(odd) {
      border-right: 1px solid #cda274;
    }
    
    &:nth-child(-n+2) {
      margin-bottom: 10px;
    }
  }

  .articles-header {
    margin: 12px 0;
    margin-top: 10px;
    padding: 20px 14px;
    p{
      padding: 10px 0;
      padding-top: 18px;
    }
  }
  .articles-inner-box {
    width: 100%;
  }
  .articles-box {
    gap: 18px;
    margin-bottom: 28px;
    justify-content: center;
    width: 100%;
  }
  .article-title {
    line-height: 22px;
  }
  .articles-image {
    width: 100%;
    margin-bottom: 16px;
  }
  .other-details {
    padding-top: 8px;
    padding-bottom: 12px;
    justify-content: flex-start;
    gap: 56px;
  }

  .contactus {
    gap: 20px;
    padding: 80px 10px;
    margin: 16px 0;
    border-radius: 32px;
  }
  .contact-btn {
    padding: 12px 14px;
    font-size: 12px;
    gap: 6px;
    svg {
      height: 14px;
      width: 14px;
    }
  }

  .social-icons {
    padding-top: 10px;
    width: 70%;
  }
  .copyright {
    margin-top: 40px;

    p {
      padding: 22px 0
    }
  }
  .brand {
    img {
      height: 25px;
      width: 100px;
    }
  }
  .brand-info {
    width: 100%;
    padding-bottom: 20px;
    margin-right: 10px;
    padding: 0 56px;
  }
  .pages {
    width: 47%;
    padding-bottom: 20px;
  }
  .footer-services {
    width: 47%;
    margin-right: 10px;
  }
  .footer-contact {
    width: 47%;
  }
  .slogan {
    padding-top: 8px;
  }
  .footer-region {
    padding: 0;
    margin-top: 80px;
    address {
      font-size: 12px;
    }
    a {
      line-height: 22px;
      font-size: 12px;
    }
  }
  @include nav-slider;

  .footer-nav{
    display: none;
  }
  .accordion-block {
    display: block;
  }
  @include accordion;

  .footer-region {
    justify-content: center;
  }
  .submenu {
    width: 100dvw;
  }
}

// Responsive for Mobile Small.
@media screen and (max-width: 320px) {
  .other-details {
    gap: 30px;
  }
  @include nav-slider;

  .facts-inner-box:nth-child(odd) {
    border-right: none;
  }
}

// Responsive for Galaxy Fold Vertical.
@media screen and (max-width: 280px) {
  .container {
    max-width: 250px;
  }
  // .primary-menu {
  //   display: none;
  // }
  // .hamburger {
  //   display: block;
  //   height: 20px;
  //   width: 20px;
  // }
  // .primary-navbar {
  //   justify-content: space-between;
  //   padding: 14px 10px;
  // }
  .logo {
    height: 20px;
    text-align: center;
  }
  .banner-text-box {
    height: 84%;
  }
  .banner-inner-text {
    width: 100%; 
    
    p {
      padding-bottom: 10px;
    }
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 26px;
    line-height: 32px;
  }
  h4 {
    font-size: 14px;
    line-height: 18px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 10px;
  }
  p{
    font-size: 12px;
    line-height: 16px;
  }
  .get-started {
    width: 52%;
    padding: 4px 0px;
    font-size: 10px;
  }
  .services {
    padding: 32px 10px
  }
  .services-item-box {
    flex-wrap: wrap;
    gap: 18px;
  }
  .services-inner-item-box h4 {
    padding-bottom: 10px;
  }
  .services-inner-item-box p {
    padding-bottom: 12px;
  }
  .services-inner-item-box a {
    font-size: 12px;
  }
  .estimate {
    flex-direction: column-reverse;
    gap: 0;
  }
  .product {
    width: 100%;
    flex-basis: 0;
    height: 270px;
  }
  .estimate-text-box {
    width: 100%;
    flex: 100%;
    padding: 8px;
  }
  .estimate-inner-text-box {
    margin-top: 32px;
    h2 {
      padding-bottom: 10px;
    }
  }
  .contact-details {
    padding: 0;
    gap: 6px;

    svg {
      width: 52px;
    }
  }

  .contact  .get-started {
    width: 90%;
    padding: 12px 14px;
  }
  .contact-info h4 {
    line-height: 18px;
  }

  .product {
    height: 540px;
  }

  .testimonials-wrap {
    margin: 80px 0;
  }
  .testimonials-inner {
    padding: 26px 12px;
    gap: 8px;
    
    h2 {
      width: 100%;
      padding: 12px 0;
      font-size: 22px;
    }
  }
  .card {
    p {
      font-size: 14px;
    }
  }
  .card-inner {
    padding: 6px 0;
    gap: 8px;
    margin: 16px;
  }
  .person {
    gap: 5px;

    img {
      height: 46px;
      width: 46px;
    }
  }
  .profile {
      height: 56px;
      width: 56px;
  }

  .personal-details {
    h4 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .clients-wrap {
    margin: 20px;
  }
  .clients a {
    width: 50%;

    &:last-child:nth-child(odd) {
      width: 100%;
    }
  }
  

  .clients img {
    height: 52px;
    width: 52px;
  }
  .section1, .section2 {
    justify-content: center;
    gap: 62px;
  }
  .project-header {
    padding: 14px 8px;
    margin: 22px 0;
  }
  .projects-inner-box {
    img {
      height: 194px;
      width: 100%;
    }
  }
  .project-details {
    align-items: center;
    margin: 0 10px;
    svg {
      width: 72px;
      height: 54px;
    }
  }
  .section1, .section2 {
    gap: 60px;
  }

  .facts-wrap {
    margin: 40px 0;
    margin-top: 72px;
  }
  .facts-box {
    padding: 34px 20px;
    flex-wrap: wrap;
  }

  .facts-inner-box {
    margin: 0 10px;
    padding-left: 10px;
    border: none !important;
  }

  .articles-header {
    margin: 12px 0;
    margin-top: 10px;
    padding: 12px 10px;
    p{
      padding: 4px 0;
      padding-top: 8px;
    }
  }
  .articles-inner-box {
    width: 100%;
  }
  .articles-box {
    gap: 18px;
    margin-bottom: 28px;
    justify-content: center;
    width: 100%;
  }
  .article-title {
    line-height: 18px;
  }
  .articles-image {
    height: 200px;
    width: 100%;
    margin-bottom: 16px;
  }
  .other-details {
    padding-top: 8px;
    padding-bottom: 8px;;
    justify-content: flex-start;
    gap: 26px;

    svg {
      height: 34px;
      width: 34px;
    }
  }
  .publication-date {
    font-size: 12px;
    padding-right: 18px;
    line-height: 20px;
  }

  .contactus {
    border-radius: 40px;
    gap: 12px;
    padding: 46px 4px;
    margin: 10px 0;

    h2 {
      line-height: 28px;
    }
  }
  .contact-btn {
    padding: 10px 12px;
    font-size: 12px;
    gap: 6px;
    border-radius: 12px;

    svg {
      width: 14px;
      height: 12px;
    }
  }

  .social-icons {
    padding-top: 10px;
    width: 80%;
  }
  .copyright {
    margin-top: 40px;

    p {
      padding: 22px 0
    }
  }
  .brand {
    img {
      height: 25px;
      width: 100px;
    }
  }
  .brand-info {
    width: 50%;
    padding-bottom: 20px;
    margin-right: 10px;
  }
  .pages {
    width: 50%;
    padding-bottom: 20px;
  }
  .footer-services {
    width: 50%;
    margin-right: 10px;
  }
  .footer-contact {
    width: 50%;
  }
  .slogan {
    padding-top: 8px;
  }
  .footer-region {
    margin-top: 62px;
    padding: 0;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
    address {
      font-size: 12px;
    }
    a {
      line-height: 22px;
      font-size: 12px;
    }
  }
  .copyright {
    margin-top: 0;
  }

  @include nav-slider
}