$primary-text-color: #292f36;
$primary-text-style: normal;
$primary-font-family: DM Serif Display;
$center-alignment: center;
$basic-font-weight: 400;
$tertiary-font-size: 40px;
$tertiary-font-weight: 400;
$tertiary-line-height: 50px;
$anchor-font-size: 20px;
$anchor-font-weight: 400;
$anchor-text-decoration: none;
$anchor-font-family: Jost;
$anchor-text-align: center;