.articles-header {
  padding: 26px 20%;
  text-align: center;
  margin: 40px 0;

  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    padding: 12px 0;
    padding-top: 24px;
  }
}

.articles-box {
  gap: 28px;
  margin-bottom: 32px;
}

.articles-inner-box {
  width: 340px;
  justify-content: flex-start;
  justify-content: left;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  padding: 20px;
}

.selected {
  background: #f4f0ec;
}
.selected .other-details svg > circle {
  fill: white;
}

.other-details {
  padding-top: 32px;
  padding-bottom: 20px;
  gap: 64px;
}

.articles-inner-box:last-child {
  padding-bottom: 0px;
}

.articles-image {
  position: relative;
  height: 300px;
  width: 300px;
  margin-bottom: 20px;

  img {
    border-top-right-radius: 14%;
    border-top-left-radius: 14%;
    height: 100%;
    width: 100%;
  }
}
.article-category {
  position: absolute;
  background: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  bottom: 20px;
  left: 10px;
  padding: 8px;
}
.article-title {
  line-height: 32px;
  letter-spacing: 0.5px;
}
.publication-date {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  padding-right: 36px;
}
