.articles-header {
  padding: 26px 20%;
  text-align: center;
  margin: 40px 0;

  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.articles-box {
  gap: 27px;
  margin-bottom: 30px;
}

.articles-inner-box {
  width: 340px;
  height: 479px;
  justify-content: flex-start;
  justify-content: left;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 21px;
  gap: 10px;
}

.selected {
  background: #f4f0ec;
}
.selected .other-details svg > circle {
  fill: white;
}

.other-details {
  position: relative;

  svg {
    position: absolute;
    bottom: -13px;
    right: 10px;
  }
}

.articles-inner-box:last-child {
  padding-bottom: 0px;
}

.articles-image {
  position: relative;

  img {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    height: 300px;
    width: 300px;
  }
}
.article-category {
  position: absolute;
  background: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  bottom: 20px;
  left: 10px;
  padding: 8px;
}
.article-title {
  line-height: 31.25px;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}
.publication-date {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
