.hero-banner {
  background: url(../../assets/images/banner-min.webp);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  border-radius: 0px 0px 0px 291px;
  background-position-y: 45%;
}
.hero-banner .container {
  height: 100%;
}
.banner-text-box {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
  flex-direction: row;
  width: 84%;
}
.banner-inner-text {
  line-height: 32px;
  width: 60%;
}
.banner-inner-text p {
  padding-bottom: 20px;
}
