.hero-banner {
  position: relative;
  background: url(../../assets/images/banner.jpeg);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1072px;
  border-radius: 0px 0px 0px 291px;
  background-position-y: 45%;
}
.banner-text-box {
  position: absolute;
  top: 33%;
  align-items: flex-start;
  gap: 21px;
}
.banner-inner-text {
  line-height: 30px;
  width: 60%;
}
.banner-inner-text p {
  padding-bottom: 21px;
}
