@use "../modules/typography" as *;

.contact-details {
  padding: 48px 0;
  align-items: center;  
  gap: 10px;
}
.contact-details svg:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  transition: 0.9s all ease-in-out;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.contact-info {
  h4 {
    color: #4d5053;
    font-family: Jost;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.24px;
    text-align: left;
  }
}


.contact .get-started {
  padding: 28px 20px;
}

.product {
  width: 50%;
  flex: 50%;
  max-height: 600px;

  img {
    width: 100%;
    border-radius: 0px 326px 0px 123px;
    background: #c4c4c4;
    height: 100%;
  }
}
