.estimate {
  flex-wrap: nowrap;
  gap: 24px;
}
.estimate-text-box {
  width: 31%;
  flex: 31%;
}
.estimate-inner-text-box {
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 36px;

  h2 {
    padding-bottom: 34px;
  }
}
