.estimate {
  flex-wrap: nowrap;
  gap: 60px;
}
.estimate-text-box {
  width: 50%;
  flex: 50%;
}
.estimate-inner-text-box {
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;

  h2 {
    padding-bottom: 34px;
  }
}
