.facts-wrap {
  background: #f4f0ec;
  margin: 70px 0;
}
.facts-box {
  padding: 60px 30px;
}

.facts-inner-box {
  padding: 10px;
  border-left: 1px solid #cda274;
  margin: 0 20px;
  padding-left: 33px;

  h1 {
    color: #cda274;
    letter-spacing: 1.7px;
  }

  &:first-child {
    border: none;
  }
}

