.facts-wrap {
  background: #f4f0ec;
  margin: 72px 0;
}
.facts-box {
  padding: 64px 32px;
}

.facts-inner-box {
  padding: 12px;
  border-left: 1px solid #cda274;
  margin: 0 20px;
  padding-left: 32px;

  h1 {
    color: #cda274;
    letter-spacing: 1.7px;
  }

  &:first-child {
    border: none;
  }
}

