@use "../modules/typography" as *;
@use "../base/mixins" as *;

.footer-region {
  gap: 90px;
  justify-content: flex-start;
  list-style: none;
  margin-top: 100px;
  h4 {
    text-align: left;
  }
}
.footer-nav {
  display: flex;
  justify-content: space-between;
}
.brand-info .branding {
  justify-content: normal;
}
.brand-info {
  width: 32%;
}
.pages,
.footer-services,
.footer-contact {
  ul {
    list-style: none;
    padding-top: 10px;
  }
  a {
    line-height: 64px;
    letter-spacing: 0.22px;
    text-align: left;

    &:hover {
      @include link-hover;
    }
  }
}
.pages,
.footer-services {
  width: 18%;
}
.footer-contact {
  width: 20%;
  address {
    padding-top: 16px;
    color: #4d5053;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
  }
  ul {
    list-style: none;
  }
}
.slogan {
  padding-top: 10px;
}
.social-icons {
  width: 50%;
  padding-top: 32px;

  a {
    &:hover {
      @include social-icons;
    }
  }
}
.accordion-block {
  display: none;
}

.copyright {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  background: white;
}
.copyright p {
  padding: 40px 0;
  text-align: center;
}
