@use "../base/base" as *;
@use "../base/variables" as *;

.primary-navbar {
  padding: 12px;
}
.brand {
  gap: 5px;
}
.branding {
  align-items: $center-alignment;
  font-size: 32px;
  font-weight: $basic-font-weight;
  gap: 12px;
}
.brand-logo {
  padding-top: 5px;
}
.menu-item-list {
  list-style: none;
  a {
    padding: 20px;
  }
}

.search-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  opacity: 0.8;
  padding-left: 12px;
}
