@use "../base/mixins" as *;

.project-header {
  padding: 26px 20%;
  text-align: center;
  margin: 93px 0;

  h2, p {
    text-align: center;
  }
}
.project-child-block {
  gap: 42px;
}

.project-details {
  // position: relative;
  padding-top: 18px;
  flex-wrap: nowrap;

  a:hover {
    svg {
      circle {
        @include project-btn
      }
    }
  }

}
// .project-details svg {
//   position: absolute;
//   right: 5px;
//   bottom: -8px;
// }

.section1 {
  justify-content: flex-start;
  gap: 104px;
  .projects {
    &:nth-child(1) {
      .projects-inner-box img {
        border-top-right-radius: 100px;
      }
    }
    &:nth-child(2) {
      .projects-inner-box img {
        border-top-left-radius: 100px;
      }
    }
  }
}

.section2 {
  justify-content: flex-start;
  gap: 104px;
  .projects {
    &:nth-child(1) {
      .projects-inner-box img {
        border-bottom-right-radius: 100px;
      }
    }
    &:nth-child(2) {
      .projects-inner-box img {
        border-bottom-left-radius: 100px;
      }
    }
  }
}
