.testimonials-wrap {
  margin: 150px 0;
  background: #f4f0ec;
  border-radius: 48px;
}
.testimonials-inner {
  padding: 48px 24px;
  gap: 36px;

  h2 {
    text-align: center;
    padding: 12px 80px;
    width: 72%;
    margin: 0 auto;
    padding-bottom: 100px;
  }
}

.card-deck {
  // flex-wrap: nowrap;
  gap: 20px;
  // align-items: center;
}
.slick-slide {
    margin: 0 10px;
}
.slick-list {
    margin: 0 -10px;
}
.card {
  background: #fff;
  border-radius: 36px;
  &:hover {
    .card-inner {
      transition: 0.9s all ease-in-out;
      transform: scale(1.1);
    }
  }
  p {
    text-align: left;
  }
}
.card-inner {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin: 28px;
}
.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}
