@use "../base/variables" as *;
@use "../base/mixins" as *;

.get-started {
  width: 219.141px;
  padding: 24px 40px;
  gap: 12px;
  border-radius: 18px;
  background: #292f36;
  box-shadow: 0px 12px 20px 0px rgba(192, 192, 192, 0.35);
  text-decoration: $anchor-text-decoration;
  color: #fff;
  text-align: $center-alignment;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.36px;
  display: flex;
  align-items: $center-alignment;
  text-align: $center-alignment;
  transition: all 0.5s ease;

  &:hover {
    @include btn-hover
  }

  // &::before {
  //   transform-origin: right top;
  //   transform: scale(0, 1);
  // }

  // &:hover::before {
  // transform-origin: left top;
  // transition: 0.5s all ease-in-out;
  // }
}
