@use "../base/variables" as *;

body.dark {
  background-color: $primary-text-color;

  @if & {
    header {
      background: $primary-text-color;
    }
    .brand-logo, .brand {
      img {
        filter: invert(1) brightness(11.5);
      }
    }
    .search-icon svg {
      filter: invert(1) brightness(2.5);
    }
    .menu-items__link {
      color: $secondary-text-color;
    }
    body.dark, p, h2, h3, h4, h5, a {
      color: #fff;
    }
    .banner-inner-text p {
      color: $primary-text-color;
    }
    .contact-info h4 {
      color: $secondary-text-color;
    }
    .contact .get-started {
      background: #cda274;
      box-shadow: none;

      svg path {
        stroke: $primary-text-color;
      }
    }
    .testimonials-inner h2{
      color: $primary-text-color;
    }
    .card {
      background: $primary-text-color;
    }
    .clients a:not(:nth-child(2)) {
      filter: invert(1) brightness(1.7);
    } 
    .facts-wrap {
      background: #cda274;
    }
    .facts-inner-box {
      border-left: 1px solid $primary-text-color;

      &:nth-child(1) {
        border-left: none;
      }
    }
    .counter {
      color: $primary-text-color;
    }
    .articles-inner-box {
      border: 0.5px solid rgba(255,255,255,0.3);
      &:hover {
        .article-title {
          color: $primary-text-color;
        }
        .publication-date {
          color: $primary-text-color;
        }
        .other-details a svg circle{
          fill: #cda274;
        }
      }
    }

    .article-category {
      color: $primary-text-color;
    }
    .contactus {
      background: #f4f0ec;

      .contact-header {
        h2, p {
          color: $primary-text-color;
        }
      }
    }
    .footer-contact address {
      color: $secondary-text-color;
    }
    .copyright {
      background: $primary-text-color;
      color: $secondary-text-color;
    }
  }
}
.mode-switcher {
  padding-top: 18px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
.owl-gif, .sleep-gif {
  display: none;

  img {
    border-radius: 50%;
  }
}
.sleep-gif {
  img {
    object-position: -44px;
  }
}
.night-mode, .light-mode {
  display: block;
}