@font-face {
  src: url('/Themeforest-Workshop/vendor/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
  font-family: DM Serif Display;
}
@font-face {
  src: url("/Themeforest-Workshop/vendor/Jost/static/Jost-Regular.ttf");
  font-family: Jost;
}