@font-face {
  src: url('../../vendor/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
  font-family: DM Serif Display;
}
@font-face {
  src: url("../../vendor/Jost/static/Jost-Regular.ttf");
  font-family: Jost;
}